.flex-container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #83003ee6;
  }
  .flex-item1, .flex-item2{
    background-color: #fed4b9;
    width: 200px;
    margin: .5%;
    text-align: center;
    line-height: 100px;
    font-size: 50px;
  }
  

  .flex-item2{
      flex: 1;
      
  }